/*
pallette
teal = #60d8d8
dark-teal = #208383
darker-teal = #186363
light gray = #807c6d
dark gray = #7e7a6c
cream = #fcfaf1
*/

html {
  font-size: 100%;
}
body {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  color: #454545;
  background-color: #fcfaf1;
  background: url(../images/creampaper.png);
  -webkit-filter: brightness(104%);
  padding: 0;
}
.topspace {
  margin-top: 40px;
}
.gm-style-iw + div img {
    max-width: none; 
}
/*********************************************************************
 

                                TYPOGRAPHY


**********************************************************************/
p {
  line-height: 1.6em;
  margin: 0 0 30px 0;
}
ul,
ol {
  line-height: 1.6em;
  margin: 0 0 30px 0;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 30px;
  border-left: 5px solid #eee;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #454545;
}
h1 {
  font-size: 40px;
  font-size: 2.5rem;
}
h2 {
  font-size: 36px;
  font-size: 2.25rem;
}
h3 {
  font-size: 30px;
  font-size: 1.875rem;
  color: #fafafa;
  text-shadow: 0 1px 4px #454545;
}
h4 {
  font-size: 24px;
  font-size: 1.5rem;
}
h5 {
  font-size: 20px;
  font-size: 1.25rem;
}
a {
  color: #186363;
}
a:hover {
  color: #186363;
}
.lead {
  font-weight: 300;
  font-size: 21px;
  font-size: 1.3125rem;
}
.text-msg {
  line-height: 1.7em;
  color: #b3b3b3;
  font-weight: 300;
  text-transform: capitalize;
  margin-top: -0.23em;
}
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
/*********************************************************************
 

                                HEADER


**********************************************************************/
#head {
  background: #f4f4f4 url(../images/header.png) no-repeat;
  background-size: 100%;
  background-position-y: 25%;
  color: #fcfaf1;
  padding: 90px 0;
  text-shadow: 1px 1px #7e7a6c;
}
#head h1 {
  color: #fcfaf1;
}
#head .top-pic {
  width: 50%;
  margin: auto;
  border: 0.1em solid;
}
#head .title {
  font-family: Alice, Georgia, serif;
  font-size: 49px;
  font-size: 3.0625rem;
  padding: 0px 0px;
}
#head .title a {
  text-decoration: none;
  color: #f4f4f4;
  letter-spacing: 11px
}
#head .tagline {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.2em;
  margin: 7px 0 0;
}
/*********************************************************************
 

                            NAVBAR (in header)


**********************************************************************/
.navbar {
  border-width: 1px 0;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  width: 100%;
  margin-bottom: 0px;
}
.navbar.stick {
  position: fixed;
  top: 0;
  left: 0;
  opacity: .85;
}
.navbar-collapse {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.navbar-collapse .navbar-nav {
  float: none;
  margin: 0 auto;
  text-align: center;
}
.navbar-collapse .navbar-nav > li {
  float: none;
  display: inline-block;
}
.navbar-collapse .navbar-nav > li > a {
  padding: 20px 30px;
}
.dropdown ul.dropdown-menu {
  top: 85%;
  text-align: left;
}
.dropdown ul.dropdown-menu > li > a {
  padding: 5px 30px;
}
.navbar-default {
  background-color: #186363;
  border-color: #cccccc;
}
.navbar-default .navbar-nav > li > a {
  color: #fafafa;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #186363;
  background-color: #fafafa;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #186363;
  background-color: #fafafa;
}
.navbar-brand {
  max-height: 20px;
  margin-top: -10px;
}
.navbar-brand #logo {
  height: 50px;
}
/*********************************************************************
 

                                CONTENT


**********************************************************************/
img {
  max-width: 100%;
}
.btn {
  font-size: 12px;
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border: 0 none;
  padding: 12px 35px;
}
.btn-primary {
  color: #fafafa;
  background-color: #186363;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #186363;
  background-color: #fafafa;
}
.btn-action {
  font-weight: bold;
  background: transparent!important;
  border: 1px solid #333;
  text-shadow: none;
}
.btn-action:hover,
.btn-action:focus,
.btn-action:active,
.btn-action.active {
  color: #bd1550;
  border-color: #bd1550;
}
.btn-lg {
  padding: 15px 60px;
  font-size: 12px;
  line-height: 1.33;
  font-weight: bold;
}
.page-header {
  text-shadow: 0 1px 2px #bababa;
  margin-top: 10px;
}
.carousel-inner > .item > img {
    height: 400px;
    /*width: 100%;*/
    margin: 0px auto;
}

/* Section - Story */

/* Section - People */
.person {
  height: 180px;
  margin-bottom: 10px;
  overflow: hidden;
}
.person:hover {
  cursor: pointer;
  -webkit-filter: saturate(0%);
}
.person > img {
  min-height: 180px;
}
/* Section - Celebration */
.events .event {
  height: 200px;
}
/* Section - Location */
#location p {
  margin-top: 20px;
}
/* Section - RSVP */
#rsvp-success {
  background-color: #186363;
  color: #fafafa;
  padding: 50px 0;
}
/* Section - Accomodations */

/* Section - Registry */
#registry .registry-item {
  
}
#registry .registry-item:hover {
  -webkit-filter: saturate(100%);
}


/* Section - Featured */
.featured {
  font-size: 13px;
  font-size: 0.8125rem;
}
.featured h3 {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.4em;
  vertical-align: middle;
  margin: 0 0 25px 0;
}
/*********************************************************************
 

                                FOOTER


**********************************************************************/
footer {
  background: #186363;
  margin-top: 20px;
  padding: 15px 0;
  font-size: 12px;
  color: #fafafa;
}
/* Max page width
/////////////////////////////////////////////////////////////////////*/
@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}
